.navigation {
  display: grid;
  width: 100%;
  position: fixed;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
  background-color: var(--white);
  padding: 1.2em 1.5em;
  z-index: 2;
}

.navigation__anchors {
  display: flex;
  margin-left: auto;
  padding-right: 5rem;
  gap: 2rem;
}

.navigation__anchors-link {
  text-decoration: none;
  color: var(--color-secundary);
  font-weight: 600;
  padding: 0 0.3rem;
}

.desktop_screen {
  display: flex;
}

.navigation__hamburguer_menu {
  display: none;
}



@media screen and (max-width: 620px) {
  .navigation {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    padding: 0;
    z-index: 2;
  }

  /* .navigation__hamburguer_menu {
    display: block;
    padding: 1.5em 0;
    background-color: var(--white);
  } */


  .navigation__hamburguer_menu {
    display: block;
    width: 100%;
    background-color: var(--white);
  }

  .hamburguer_icon2{
    background-color: yellow;
    background-image: url("../imgs/MenuAberto.svg");
    background-repeat: no-repeat;
  }

  .navigation__anchors {
    position: absolute;
    top: 100%;
    background-color: aliceblue;
    flex-direction: column;
    margin-left: 0;

    width: auto;
    padding: 1rem;
  }

  .hamb-open {
    display: none;
  }

  .desktop_screen {
    display: none;
  }
}
