.portfolio {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #f0f0f0;
  height: 120vh;
  z-index: 1;
}

.portfolio__title {
  color: var(--color-primary);
  margin: 6rem 0 4rem 0;
  font-size: 4rem;
}

.portfolio__filter-title{
  color: var(--color-primary);
  margin-bottom: 1rem;
  font-size: 2rem;
}

.portfolio__filter {
  margin-bottom: 1.5rem;
  z-index: 2;
}

.portfolio__filter-img {
  height: auto;
  width: 3rem;
  margin-right: 0.25rem;
  margin-top: .25rem;
  filter: grayscale(100%);
  cursor: pointer;
}

.portfolio__filter-img:hover {
  filter: grayscale(0%);
}

.select-img{
  filter: grayscale(0%);
  
}

.portfolio_technologies__img {
  height: auto;
  width: 3rem;
}

.swiper {
  width: 50%;
}

.swiper-button-prev,
.swiper-button-next {
  display: block;
  top: 60%;
}

.swiper-slide img {
  width: 100%;
  border: 1px solid var(--color-secundary);
}

.swiper-pagination {
  position: initial;
  margin-top: 1em;
}

.swiper-pagination-bullet {
  background: rgb(177, 177, 177) !important;
  border-radius: 0.5rem !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  background-color: blue !important;
  border-radius: 0.5rem !important;
}

.horizontal-list {
  list-style-type: none;
  margin-bottom: 2rem;
  background-color: #e6e6e6;
}

.horizontal-list li {
  display: inline;
  margin-right: 10px;
}

.portfolio_img {
  width: 100%;
  height: auto;
  cursor: pointer;
}

.botao-hiden {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  width: 15em;
}

@media screen and (max-width: 1510px) {
  .portfolio {
    height: 145vh;
  }

  .swiper {
    width: auto;
  }
  .carousel__container {
    margin: 0 1rem;
  }
}

@media screen and (max-width: 1030px) {
  .carousel__container {
    margin: 0 1rem;
  }
}

@media screen and (max-width: 650px) {
  .portfolio {
    height: 110vh;
  }
  .portfolio_technologies__img {
    height: auto;
    width: 2rem;
    margin-right: .15rem;
    transform: scale(1);
  }
}
