.presentation {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-tertiary);
  /* background: linear-gradient(var(--color-tertiary) ,#007965); */
  height: 100vh;
}

.presentation__text {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#img-perfil {
  margin-top: 9em;
  width: 29.5%;
}

.presentation__text_title {
  color: var(--presentation);
  font-size: 2.5rem;
  font-weight: 600;
}

.presentation__text_title_name {
  font-family: var(--font);
  color: var(--presentation);
  font-size: 3.3rem;
  font-weight: 600;
}

.presentation__text_title_job {
  font-family: var(--font-secundary);
  color: var(--presentation);
  font-size: 1.5rem;
  font-weight: 500;
}

.presentation__links {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  height: 64px;
}

.presentation__socials {
  text-decoration: none;
  margin-top: 9px;
  margin-right: 0.5rem;
}

.presentation__socials_img {
  width: 42px;
  height: 42px;
  transition: transform 0.3s ease;
}

.linkedin-icon:hover {
  content: url("../imgs/linkedin.png");
  transition: all 0.7s;
  transform: scale(1.5);
}

.github-icon:hover {
  content: url("../imgs/github.png");
  transform: scale(2);
  transition: all 0.7s;
}

@media screen and (max-width: 910px) {
  .presentation {
    padding: 0.5rem;
  }
  #img-perfil {
    display: none;
  }
  .presentation__links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
  }
}

@media screen and (max-width: 550px) {
  .presentation__text {
    margin: 0 auto;
    text-align: center;
  }

  .presentation__text_title {
    font-size: 2rem;
  }

  .presentation__text_title_name {
    font-size: 2.5rem;
  }
}
